<div class="text-center my-5">
  <h1 class="text-dark fw-bold header">Portfolio Component</h1>

  <div class="star-divider my-3">
    <i class="fa fa-star fs-5 text-dark"></i>
  </div>
</div>

<div class="container pb-5 mb-5">
  <div class="row g-3">
    <div class="col-lg-4 col-md-6">
      <div class="position-relative">
        <img
          src="/assets/images/poert1.png"
          alt="port1"
          class="w-100 rounded"
        />

        <div
          class="overlay-hover position-absolute top-0 start-0 bottom-0 end-0 d-flex justify-content-center align-items-center rounded"
        >
          <i class="fa-solid fa-plus fw-bold"></i>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="position-relative">
        <img src="/assets/images/port2.png" alt="port1" class="w-100 rounded" />
        <div
          class="overlay-hover position-absolute top-0 start-0 bottom-0 end-0 d-flex justify-content-center align-items-center rounded"
        >
          <i class="fa-solid fa-plus fw-bold"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="position-relative">
        <img src="/assets/images/port3.png" alt="port1" class="w-100 rounded" />
        <div
          class="overlay-hover position-absolute top-0 start-0 bottom-0 end-0 d-flex justify-content-center align-items-center rounded"
        >
          <i class="fa-solid fa-plus fw-bold"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="position-relative">
        <img
          src="/assets/images/poert1.png"
          alt="port1"
          class="w-100 rounded"
        />
        <div
          class="overlay-hover position-absolute top-0 start-0 bottom-0 end-0 d-flex justify-content-center align-items-center rounded"
        >
          <i class="fa-solid fa-plus fw-bold"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="position-relative">
        <img src="/assets/images/port2.png" alt="port1" class="w-100 rounded" />
        <div
          class="overlay-hover position-absolute top-0 start-0 bottom-0 end-0 d-flex justify-content-center align-items-center rounded"
        >
          <i class="fa-solid fa-plus fw-bold"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="position-relative">
        <img src="/assets/images/port3.png" alt="port1" class="w-100 rounded" />
        <div
          class="overlay-hover position-absolute top-0 start-0 bottom-0 end-0 d-flex justify-content-center align-items-center rounded"
        >
          <i class="fa-solid fa-plus fw-bold"></i>
        </div>
      </div>
    </div>
  </div>
</div>
