<div class="container-fluid bg-color">
  <div class="row gy-5">
    <div class="col-md-4">
      <div class="text-center">
        <h3 class="fs-1">Location</h3>
        <p class="fs-3">2215 John Daniel Drive</p>
        <p class="fs-3">Clark, MO 65243</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="text-center">
        <h3 class="fs-1 pb-3">AROUND THE WEB</h3>

        <div class="d-flex justify-content-center flex-wrap gap-3 mt-3">
          <div class="ico d-flex justify-content-center align-items-center">
            <i class="fa-brands fa-whatsapp fa-2x"></i>
          </div>
          <div class="ico d-flex justify-content-center align-items-center">
            <i class="fa-brands fa-linkedin fa-2x"></i>
          </div>
          <div class="ico d-flex justify-content-center align-items-center">
            <i class="fa-brands fa-docker fa-2x"></i>
          </div>
          <div class="ico d-flex justify-content-center align-items-center">
            <i class="fa-brands fa-snapchat fa-2x"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="text-center">
        <h3 class="fs-1">ABOUT FREELANCER</h3>
        <p class="fs-3">
          Freelance is a free to use, licensed Bootstrap theme created by Route
        </p>
      </div>
    </div>
  </div>
</div>

<div class="text-center bg-dark p-5">
  <p class="fs-5">Copyright © Your Website 2025</p>
</div>
