<div
  class="p-5 d-flex justify-content-center align-items-center bg-color w-100 flex-wrap"
>
  <div class="w-100 pb-5 text-center">
    <img
      src="/assets/images/avataaars.svg"
      class="img-fluid"
      style="max-width: 400px"
      alt="avatar"
    />
  </div>

  <div class="text-center text-light">
    <h1 class="text-light fs-1 fw-bold">START FRAMEWORK</h1>

    <div class="star-divider my-3">
      <i class="fa fa-star"></i>
    </div>

    <p class="fs-4">{{ exp1 }} - {{ exp2 }} - {{ exp3 }}</p>
  </div>
</div>
